<a [routerLink]="['/addpegawai']"class="btn btn-primary">Add Pegawai</a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
        <th scope="col">Role</th>
        <th scope="col">Title</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of datas let i">
        <th scope="row">1</th>
        <td>{{data.firstName}} {{data.lastName}}</td>
        <td>{{data.email}}</td>
        <td>{{data.role}}</td>
        <td>{{data.title}}</td>
        <td><a [routerLink]="['/Edit/',data.id]"class="btn btn-primary">Edit</a> &nbsp;
        <button class="btn btn-danger" (click)="DeleteData(data.id)">Delete</button></td>

      </tr>
    </tbody>
  </table>